
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GráficosApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="linea">líneas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="barra">Barras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dona">Dona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="radar">Radar</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <h1>Gráficos Dinámicos <small>Angular</small></h1>
  <hr>


  <router-outlet></router-outlet>


</div>
